#root {
  margin: 0 auto;
  text-align: center;
}

.imagenBill{
  height: 3rem;
  width: 5.0rem;
}

.reiniciar-valores{
  margin-top: 2rem;
}


@media print {
  /* Estilos específicos para impresión */
  button{
    display: none;
  }

  .table-responsive {
    width: 100%;
  }

  h1 {
    display: none;
  }

  footer {
    display: none;
  }

  header {
    display: none;
  }
  
  .sel-container {
    display: none;
  }
}